html, body {
    height: 100%;
    margin: 0;
    background-color: white;
}

#app {
    padding-top: 32px;
}

.header {
    text-align: center;
    font-family: $font-family-aboreto;
    padding: 16px 0;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;

    h1 {
        font-size: 32px;
        font-weight: 400;
        color: $olive-green;

        span {
            font-weight: 700;
            font-size: 35px;
            color: $black;
        }
    }
}

