// COLORS
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$olive-green: rgba(128, 128, 0, 1);
$blue-link: rgba(27, 176, 235, 1);


// FONTS
$font-family-arsenal: "Arsenal", sans-serif;
$font-family-aboreto: "Aboreto", sans-serif;